<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="design.css">
</head>
<body>
        <div class="container-fluid">
            <div class="d-flex justify-content-between">
                <div class="one d-flex p-2">
                    <a href="https://www.google.com/" class="mr-2 link1">
                        <i class="fa fa-times text-white"></i>
                        <span class="text-white">Stop</span>
                    </a>
                </div>
                <div>
                    <p class=" text-white";"><b>Trial #1</b></p>
                </div>
                <div class="one d-flex p-2">
                    <a href="https://www.google.com/" class="mr-2 link1">
                        <i class="fa fa-undo text-white"></i>
                        <span class="text-white">Restart</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid p-5 bar">
            <div class="progress1 d-flex">
                <p class="text-white mr-5">Test Progress:</p>
            <div class="progress w-50">
                <div class="progress-bar w-50 bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
        </div>

         <div class="container d-flex justify-content-center">
             <div class="img">
                 <img src="timeout-notice.png " width="500px" alt="">
             </div>
             <div class="wrapper mt-5 ml-5">
                <section class="num">
                    <section class="button1">
                        <div class="button btn">1</div>
                        <div class="button btn">2</div>
                        <div class="button btn">3</div>
                        <div class="button btn">4</div>
                        <div class="button btn">5</div>
                        <div class="button btn">6</div>
                        <div class="button btn">7</div>
                        <div class="button  btn">8</div>
                        <div class="button  btn">9</div>
                    </section>
                    <section class="mt-5">
                    <a class="link" href="https://www.google.com/" style="text-decoration: none;">
                        <span style="border-radius: 20px; background-color: #2e2d2d;"> 
                            <span class="fa fa-question text-white"></span>
                            <span class="text-white p-4">Unsure</span>
                        </span>
                    </a>
                </section>
                <section class="mt-5">
                    <a class="link" href="https://www.google.com/" style="text-decoration: none;">
                        <span style="border-radius: 20px; background-color: #2e2d2d;"> 
                            <span class="fa fa-ellipsis-h text-white"></span>
                            <span class="text-white p-4">Unsure</span>
                        </span>
                    </a>
                </section>
              
            </div>
            
             
         </div>

</body>
</html>


