<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2nd page</title>
    <link rel="stylesheet" href="style2.css">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>


    <div class="container">
        <h2 class="text-center">Learning Color With Colorlite Glasses!</h2>
        <div class="row">
            <div class="col">
                <img class="container__image" src="https://sites.psu.edu/lifeitmoveson/files/2017/10/orange-1hoca2l.jpg" />
                <div class="container__text">

                    <p>The two main characteristics of color vision are <b>color discrimination</b> and <b>color identification</b>. Colorblind people have problems within both areas. While people with normal color vision can distinguish millions of hues, the colorblind can barely see a few hundred. Good color discrimination is a prerequisite for color identification, as it is impossible to name colors properly unless we can distinguish them. However, many colors are correctly named with colorblindness, because they have been learned. (Example: the grass is green, the sky is blue.) Nevertheless, without the help of the environment, it would be challenging. Color identification abilities begin in childhood and develop slowly as more shades are recognized over time. Colorblind people can only partially learn this ability.

                        In the majority of cases, there is an immediate improvement in color discrimination with the Colorlite colorblind correction glasses. (After color adaptation that takes about 2 minutes.) However, the improvement in color identification ability is not yet spectacular. You would still need to learn to identify (name) new hues never seen before. </p>

                    <p><b>The following exercise is to help</b> our customers, <b>who are already wearing our correction glasses</b> and would like to <b>improve their color naming ability. Without the correction glasses, the exercise is pointless</b>. This color naming exercise helps you develop the uncertainty in color identification ability. </p>

                    <p>Wear the glasses for at least 5 minutes before exercising as to allow for color adaptation. Start the exercise only when you see the white colors as white through the glasses.
                    </p>

                    <p>The exercise is as follows. Name the first color and press the "Show me…" button. If you did not name the color correctly, try memorizing it and continue with the other colors. Try the exercise again the next day. You will probably make less mistakes. Do this exercise daily until you can name each color correctly. </p>

                    <p>If you don't have Colorlite glasses already, please <a href="#" class="text-danger"><b>contact us!</b></a></p>
                    <br>
                    <div class="container">
                        <div class="col-md-12 text-center">
                            <a href="#"><button class="btn btn-danger  btn-lg">Contact</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--
  <div class="container">
      <div class="row m-auto">
        <div class="col-md-12">

          </div>
      </div>
    </div>
-->

    <div class="container">
        <div class="row in">
           
            <div class="block1 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            
            <div class="block2 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            
            <div class="block3 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>

        <div class="row in">
            <div class="block4 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block5 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block6 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>

        <div class="row in">
            <div class="block7 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block8 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block9 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>

        <div class="row in">
            <div class="block10 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block11 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block12 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>

        <div class="row in">
            <div class="block13 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block14 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block15 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>

        <div class="row in">
            <div class="block16 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block17 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block18 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>

        <div class="row in">
            <div class="block19 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block20 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
            <div class="block21 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
            </div>
        </div>
    </div>

    <div class="row in">
        <div class="block22 w-25 rounded d-inline p-3"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
        </div>
        <div class="block23 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
        </div>
        <div class="block24 w-25 rounded d-inline p-2"><br><br><br><br><br><br><br><br><br>
            <input type="submit" class="btn btn-default" value="Show the color name">
        </div>

        <div class="row in">
            <div class="block25 w-25 rounded d-inline p-3">
            </div>
            <div class="block26 w-25 rounded d-inline p-2">
            </div>
            <div class="block27 w-25 rounded d-inline p-2">
            </div>
        </div>


    </div>



</body>

</html>